.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--bg-darkgrey-color);
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer__logo {
    display: block;
    margin-bottom: 20px;

    color: var(--white-color);
}

.footer__contact-item:not(:last-child) {
    margin-bottom: 9px;
}

.address {
    color: var(--white-color);
    line-height: 1.71;
    font-style: normal;
    text-decoration: none;
}

.footer__contact {
    color: var(--contacts-color);
    line-height: 1.71;
    font-style: normal;
    text-decoration: none;

    transition: color var(--transition-time) var(--cubic);
}

.footer__contact:hover,
.footer__contact:focus {
    color: var(--accent-color);
}

.footer__cta {
    display: block;
    margin-bottom: 20px;

    color: var(--white-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.subscribe__form {
    display: flex;
    gap: 12px;
}

.subscribe__input {
    width: 358px;
    padding: 15px 16px;

    color: var(--white-color);
    font-size: 16px;
    line-height: 1.25;

    background-color: transparent;
    border: 1px solid rgb(255 255 255 / 0.3);
    border-radius: var(--border-radius);
    outline: none;
}

.subscribe__input::placeholder {
    color: var(--contacts-color);
}

.subscribe__input:focus {
    border-color: var(--accent-color);
}