:root {
    --primary-text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196f3;
    --accent-active-color: #188ce8;
    --white-color: #fff;
    --black-color: #000;
    --contacts-color: rgb(255 255 255 / 0.6);
    --placeholder-color: rgb(117 117 117 / 0.5);
    --header-border-color: #ececec;
    --portfolio-border-color: #eee;
    --close-border-color: rgb(0 0 0 / 0.1);
    --callback-border-color: rgb(33 33 33 / 0.2);
    --icons-color: #afb1b8;
    --bg-hero-overlay: rgb(47 48 58 / 0.4);
    --bg-doings-overlay: rgb(47 48 58 / 0.8);
    --bg-accent-overlay: rgb(33 150 243 / 0.9);
    --bg-grey-color: #f5f4fa;
    --bg-darkgrey-color: #2f303a;
    --bg-socials-color: rgb(255 255 255 / 0.1);
    --bg-backdrop: rgb(0 0 0 / 0.2);

    --border-radius: 4px;

    --transition-time: 250ms;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}